node_red/Project_Terintegrasi.json
[{"id":"732923e651ac15ef","type":"tab","label":"Project_Terintegrasi","disabled":false,"info":"","env":[]},{"id":"a1fce4b1fa30b52c","type":"mqtt in","z":"732923e651ac15ef","name":"Data Gabungan","topic":"musfa/proter","qos":"2","datatype":"json","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":160,"wires":[["0a9f525e91010cb8","80859910995e62fe","4faf0230ab65bedd"]]},{"id":"0a9f525e91010cb8","type":"function","z":"732923e651ac15ef","name":"Parse & Format","func":"let data = msg.payload;\n\nlet tanggal = data.tanggal + \"/\" + data.bulan + \"/\" + data.tahun;\nlet waktu = data.jam + \":\" + data.menit + \":\" + data.detik;\n\nmsg.payload = [{\n    ax: data.ax,\n    ay: data.ay,\n    az: data.az,\n    satelit: data.satelit,\n    latitude: data.latitude,\n    longitude: data.longitude,\n    tanggal: tanggal,\n    waktu: waktu\n}];\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":160,"wires":[["2f2327d2d852da05","41b923583b794409","aa201bb245c76c74","1623fca3dcf18579","1a9fb17943c68291","d608c6d57531e336"]]},{"id":"2f2327d2d852da05","type":"ui_table","z":"732923e651ac15ef","group":"7ff8a019ac10fa43","name":"Tabel Sensor 1","order":1,"width":12,"height":2,"columns":[{"field":"ax","title":"Nilai ax","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"ay","title":"Nilai ay","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"az","title":"Nilai az","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":600,"y":160,"wires":[]},{"id":"80859910995e62fe","type":"debug","z":"732923e651ac15ef","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":100,"wires":[]},{"id":"41b923583b794409","type":"function","z":"732923e651ac15ef","name":"Ambil data ax","func":"let data = msg.payload[0];\nmsg.payload = data.ax;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":320,"wires":[["7f399dd8e417ed89","cf12280ee6202856"]]},{"id":"aa201bb245c76c74","type":"function","z":"732923e651ac15ef","name":"Ambil data ay","func":"let data = msg.payload[0];\nmsg.payload = data.ay;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":420,"wires":[["6c607fbffa911577","3a7e89afc78013d7"]]},{"id":"1623fca3dcf18579","type":"function","z":"732923e651ac15ef","name":"Ambil data az","func":"let data = msg.payload[0];\nmsg.payload = data.az;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":520,"wires":[["c2ae6216a8289fbb","c470b7db62e61a62"]]},{"id":"7f399dd8e417ed89","type":"ui_chart","z":"732923e651ac15ef","name":"Chart Nilai ax","group":"7ff8a019ac10fa43","order":7,"width":8,"height":10,"label":"Chart Nilai ax","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":320,"wires":[[]]},{"id":"6c607fbffa911577","type":"ui_chart","z":"732923e651ac15ef","name":"Chart Nilai ay","group":"7ff8a019ac10fa43","order":8,"width":8,"height":10,"label":"Chart Nilai ay","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":420,"wires":[[]]},{"id":"c2ae6216a8289fbb","type":"ui_chart","z":"732923e651ac15ef","name":"Chart Nilai az","group":"7ff8a019ac10fa43","order":9,"width":8,"height":10,"label":"Chart Nilai az","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":520,"wires":[[]]},{"id":"201c37a4d6d1617b","type":"maps","z":"732923e651ac15ef","name":"Location Maps","path":"locationMaps","maptitle":"Location Map","x":720,"y":600,"wires":[["25e21d70c16b39cc"]]},{"id":"fa1841ae5bdcb335","type":"function","z":"732923e651ac15ef","name":"Parse & Format","func":"let data = msg.payload;\n\nmsg.payload =\n[\n    {\n        \"channel\": \"Location\",\n        \"dataset\": [\n            {\n                \"lon\": parseFloat(data.longitude),\n                \"lat\": parseFloat(data.latitude),\n                \"name\": \"1\",\n                \"description\": \"Lokasi Pengguna\",\n                // \"label\": \"Alarm Kecelakaan\",\n                // \"value\": 11.7,\n                // \"unit\": \"°C\",\n                \"iconColor\": \"Red\"\n            }\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":600,"wires":[["201c37a4d6d1617b"]]},{"id":"25e21d70c16b39cc","type":"debug","z":"732923e651ac15ef","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":600,"wires":[]},{"id":"d1391ca159890104","type":"delay","z":"732923e651ac15ef","name":"","pauseType":"rate","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":600,"wires":[["fa1841ae5bdcb335"]]},{"id":"49a20bda0a4168ff","type":"maps","z":"732923e651ac15ef","name":"Location Maps","path":"locationMaps","maptitle":"Location Map","x":720,"y":660,"wires":[["9120f415233d0cb5"]]},{"id":"30b4b8fdbb4dfea4","type":"function","z":"732923e651ac15ef","name":"Parse & Format","func":"let data = msg.payload;\n\nmsg.payload =\n[\n    {\n        \"channel\": \"Location\",\n        \"dataset\": [\n            {\n                \"lon\": parseFloat(data.longitude),\n                \"lat\": parseFloat(data.latitude),\n                \"name\": \"1\",\n                \"description\": \"Lokasi Pengguna\",\n                // \"label\": \"Alarm Kecelakaan\",\n                // \"value\": 11.7,\n                // \"unit\": \"°C\",\n                \"iconColor\": \"Red\"\n            },\n            {\n                \"lon\": 106.82720020004739,\n                \"lat\": -6.175415367715056,\n                \"name\": \"2\",\n                \"description\": \"Lokasi Monas\",\n                // \"label\": \"Alarm Kecelakaan\",\n                // \"value\": 11.7,\n                // \"unit\": \"°C\",\n                \"iconColor\": \"Blue\"\n            }\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":660,"wires":[["49a20bda0a4168ff"]]},{"id":"9120f415233d0cb5","type":"debug","z":"732923e651ac15ef","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":660,"wires":[]},{"id":"4faf0230ab65bedd","type":"delay","z":"732923e651ac15ef","name":"","pauseType":"rate","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":660,"wires":[["30b4b8fdbb4dfea4"]]},{"id":"16cba8a3724518bc","type":"comment","z":"732923e651ac15ef","name":"Lokasi Asli","info":"","x":140,"y":600,"wires":[]},{"id":"34c164f135a477ed","type":"comment","z":"732923e651ac15ef","name":"Lokasi Asli + Monas","info":"","x":110,"y":660,"wires":[]},{"id":"cf12280ee6202856","type":"ui_level","z":"732923e651ac15ef","group":"7ff8a019ac10fa43","order":2,"width":4,"height":6,"name":"Level Nilai ax","label":"Nilai ax","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-15","max":"15","segWarn":"","segHigh":"","unit":"m/s2","layout":"sv","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":"2","colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"auto","peakmode":false,"property":"payload","peaktime":3000,"x":830,"y":260,"wires":[]},{"id":"1a9fb17943c68291","type":"ui_table","z":"732923e651ac15ef","group":"7ff8a019ac10fa43","name":"Tabel Sensor 2","order":5,"width":12,"height":2,"columns":[{"field":"latitude","title":"Latitude","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"longitude","title":"Longitude","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"satelit","title":"Jumlah Satelit","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":600,"y":200,"wires":[]},{"id":"d608c6d57531e336","type":"ui_table","z":"732923e651ac15ef","group":"7ff8a019ac10fa43","name":"Tabel Sensor 3","order":6,"width":12,"height":2,"columns":[{"field":"tanggal","title":"Tanggal","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"waktu","title":"Waktu","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":600,"y":240,"wires":[]},{"id":"3a7e89afc78013d7","type":"ui_level","z":"732923e651ac15ef","group":"7ff8a019ac10fa43","order":3,"width":4,"height":6,"name":"Level Nilai ay","label":"Nilai ay","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-15","max":"15","segWarn":"","segHigh":"","unit":"m/s2","layout":"sv","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":"2","colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"auto","peakmode":false,"property":"payload","peaktime":3000,"x":830,"y":360,"wires":[]},{"id":"c470b7db62e61a62","type":"ui_level","z":"732923e651ac15ef","group":"7ff8a019ac10fa43","order":4,"width":4,"height":6,"name":"Level Nilai az","label":"Nilai az","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-15","max":"15","segWarn":"","segHigh":"","unit":"m/s2","layout":"sv","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":"2","colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"auto","peakmode":false,"property":"payload","peaktime":3000,"x":830,"y":460,"wires":[]},{"id":"033fb022522b1386","type":"mqtt out","z":"732923e651ac15ef","name":"","topic":"musfa/proter/tes","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker","x":280,"y":40,"wires":[]},{"id":"75b074604f7e5280","type":"inject","z":"732923e651ac15ef","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ax\":\"0.22\",\"ay\":\"-0.54\",\"az\":\"9.81\",\"satelit\":\"7\",\"latitude\":\"-6.914744\",\"longitude\":\"107.609810\",\"tanggal\":\"29\",\"bulan\":\"6\",\"tahun\":\"2025\",\"jam\":\"14\",\"menit\":\"30\",\"detik\":\"15\"}","payloadType":"json","x":90,"y":40,"wires":[["033fb022522b1386"]]},{"id":"6002fc456b328834","type":"mqtt in","z":"732923e651ac15ef","name":"Data Kecelakaan","topic":"musfa/proter/kecelakaan","qos":"2","datatype":"json","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":780,"wires":[["bc289c967a6e18c8","87b2fc6e00239d6f"]]},{"id":"bc289c967a6e18c8","type":"function","z":"732923e651ac15ef","name":"Parse & Format","func":"// Ambil data dari input MQTT\nlet data = msg.payload;\n\n// Format tanggal dan waktu\nlet tanggal = data.tanggal + \"/\" + data.bulan + \"/\" + data.tahun;\nlet waktu = data.jam + \":\" + data.menit + \":\" + data.detik;\n\n// Data baru yang akan ditambahkan ke tabel\nlet newRow = {\n    ax: data.ax,\n    ay: data.ay,\n    az: data.az,\n    satelit: data.satelit,\n    latitude: data.latitude,\n    longitude: data.longitude,\n    tanggal: tanggal,\n    waktu: waktu\n};\n\n// Ambil data sebelumnya dari context lokal\nlet tabel = context.get(\"tabelData\") || [];\n\n// Tambahkan data baru ke akhir array\ntabel.push(newRow);\n\n// Batasi jumlah maksimal data menjadi 10 baris\nif (tabel.length > 16) {\n    tabel.shift(); // Hapus data paling lama (baris pertama)\n}\n\n// Simpan kembali ke context\ncontext.set(\"tabelData\", tabel);\n\n// Kirim data tabel sebagai payload\nmsg.payload = tabel;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":780,"wires":[["9c4154c3333e4cb0","48ca41b5cc48d7c4"]]},{"id":"9c4154c3333e4cb0","type":"debug","z":"732923e651ac15ef","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":780,"wires":[]},{"id":"48ca41b5cc48d7c4","type":"ui_table","z":"732923e651ac15ef","group":"55f0936db197bcf6","name":"Tabel Data Kecelakaan","order":1,"width":24,"height":"9","columns":[{"field":"ax","title":"Nilai ax","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"ay","title":"Nilai ay","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"az","title":"Nilai az","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"latitude","title":"Latitude","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"longitude","title":"Longitude","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"satelit","title":"Jumlah Satelit","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"tanggal","title":"Tanggal","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"waktu","title":"Waktu","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":550,"y":820,"wires":[]},{"id":"87b2fc6e00239d6f","type":"function","z":"732923e651ac15ef","name":"Parse & Format","func":"let data = msg.payload;\n\nmsg.payload =\n[\n    {\n        \"channel\": \"Location\",\n        \"dataset\": [\n            {\n                \"lon\": parseFloat(data.longitude),\n                \"lat\": parseFloat(data.latitude),\n                \"name\": \"1\",\n                \"description\": \"Lokasi Pengguna\",\n                // \"label\": \"Alarm Kecelakaan\",\n                // \"value\": 11.7,\n                // \"unit\": \"°C\",\n                \"iconColor\": \"Red\"\n            },\n            {\n                \"lon\": 106.82720020004739,\n                \"lat\": -6.175415367715056,\n                \"name\": \"2\",\n                \"description\": \"Lokasi Monas\",\n                // \"label\": \"Alarm Kecelakaan\",\n                // \"value\": 11.7,\n                // \"unit\": \"°C\",\n                \"iconColor\": \"Blue\"\n            }\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":880,"wires":[["e3f450a2cc3abf4f"]]},{"id":"e3f450a2cc3abf4f","type":"maps","z":"732923e651ac15ef","name":"Accident Maps","path":"accidentMaps","maptitle":"Accident Maps","x":520,"y":880,"wires":[[]]},{"id":"d0ad9e73f31c5350","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":2,"width":12,"height":1},{"id":"fb1f311ed4b9a1cf","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":3,"width":12,"height":1},{"id":"5913bf6a8dfc3ace","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":4,"width":12,"height":1},{"id":"ed0439b63cee7890","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":6,"width":12,"height":1},{"id":"ef1ad7c58a71df7b","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":7,"width":12,"height":1},{"id":"ef385373e22e36af","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":8,"width":12,"height":1},{"id":"15613bf36b368dd4","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":10,"width":12,"height":1},{"id":"ba702b924e87d8c9","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":11,"width":12,"height":1},{"id":"c47319bebe4ee66f","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":12,"width":12,"height":1},{"id":"e60831d6b97389bf","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":13,"width":24,"height":1},{"id":"d7987cba8c661070","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":14,"width":24,"height":1},{"id":"da081d0df2d02152","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":29,"width":16,"height":1},{"id":"68511d57798d6dd9","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":30,"width":16,"height":1},{"id":"11683801939b708f","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":31,"width":16,"height":1},{"id":"9f4bf166b7782973","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":32,"width":16,"height":1},{"id":"5b4ef57378969b8e","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":33,"width":16,"height":1},{"id":"0e180d9cce867ba3","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":34,"width":16,"height":1},{"id":"71b54a3dd551a34f","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":35,"width":16,"height":1},{"id":"d985492f7383f443","type":"ui_spacer","z":"732923e651ac15ef","name":"spacer","group":"","order":36,"width":16,"height":1},{"id":"mqtt_broker","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"7ff8a019ac10fa43","type":"ui_group","name":"Data Proter 2","tab":"5f281f9ec144621d","order":1,"disp":true,"width":"24","collapse":false,"className":""},{"id":"55f0936db197bcf6","type":"ui_group","name":"Data","tab":"997e1ca5db70e59f","order":1,"disp":true,"width":"24","collapse":false,"className":""},{"id":"5f281f9ec144621d","type":"ui_tab","z":"732923e651ac15ef","name":"Dashboard ProTer 2","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"997e1ca5db70e59f","type":"ui_tab","z":"732923e651ac15ef","name":"Data Kecelakaan","icon":"dashboard","order":2,"disabled":false,"hidden":false}]